<template>
    <div class="input">
        <label class="label-tarefa-titulo">Título</label>
        <br>
        <input class="edit-tarefa-titulo" type="text" maxlength="20" v-model="tarefa.titulo">
        <br><br>
        <label class="label-tarefa-descricao">Descrição</label>
        <br>
        <input class="edit-tarefa-descricao" type="text" maxlength="255" v-model="tarefa.descricao">
        <br><br>
        <button class="botao-adicionar-tarefa" v-on:click="adicionar()">Adicionar</button>
        <br><br><br>
        <ul>
            <li v-for="item of tarefas" :key="item.id">
                <div>
                    {{ item.id}}
                </div>
                <div>
                    <h1>{{ item.titulo }}</h1>
                    <h2>{{ item.descricao }}</h2>
                </div>
                <div>
                    <button v-on:click="remover(item.id)">Remover</button>
                </div>
                <br>
                <br>
            </li>
        </ul>
    </div>
</template>

<script>
import Tarefas from '../services/tarefas'
export default {
    name: 'Inp',
    data: () => { return {
            tarefa: {
                titulo: "",
                descricao: ""
            },
            tarefas: []
        }
    },  
    mounted() {
        this.listar()
    },
    methods: {
        adicionar() {
            Tarefas.adicionar({
                titulo: this.tarefa.titulo,
                descricao: this.tarefa.descricao,
            }).then(() => {
               this.listar() 
            })
        },
        listar() {
            Tarefas.listar().then(response => {
                this.tarefas = response.data
            })
        },
        remover(id) {
            Tarefas.remover(id).then(() => {
                this.listar()
            })     
        }
    }
}
</script>

<style>

</style>